.header
    height: 1180px
    background: url('backHeader.png') no-repeat
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: 100% 100%

.header__container
    width: 100%
    z-index: 2
    text-align: center
    margin-bottom: -200px

.header__logo
    width: 180px
    margin-top: 10px

.header__nav
    padding-top: 35px
    font-size: 14px
    a
        color: #ffffff

.header__nav__contact
    border: 1px solid #ffffff
    border-radius: 20px

.header__title
    margin-top: 200px
    font-size: 48px
    color: #ffffff
    line-height: 36px
    font-weight: bold

.header__text
    color: #ffffff
    height: 68px
    opacity: 0.4
    font-size: 16px
    line-height: 20px

.header__watch-button
    width: 205px
    height: 50px
    color: #ffffff
    cursor: pointer
    border: 1px solid white
    padding: 13px 20px
    outline: none
    overflow: hidden
    border-radius: 25px
    background-color: Transparent
    background-repeat: no-repeat
    &:hover
        background-color: #ffffff
        color: #d32721
