.icon-section
    background-color: #f6f6f6

.icon
    font-weight: bold
    margin-top: 20px !important
    font-size: 22px
    background: -webkit-linear-gradient(180deg, #E06900 10%, #CB0035 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
