.iconSection
    text-align: center
    background-color: #f6f6f6

.iconSection__label
    font-size: 22px
    margin-top: 20px
    font-weight: bold
    background: -webkit-linear-gradient(180deg, #E06900 10%, #CB0035 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.iconSection__info
    color: #5e6372